<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <!-- <app-server></app-server> -->
  
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
  <!-- <app-ngswitch></app-ngswitch> -->
  <!-- <app-servers></app-servers> -->
  <!-- <app-structurala-ass></app-structurala-ass> -->
  <!-- <app-attri></app-attri> -->
  <!-- <app-databindingass></app-databindingass> -->
<!-- </div> -->
<!-- <h2>Here are some links to help you start: </h2> -->
<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<!-- <app-server></app-server> -->
<!-- <button type="button" class="btn btn-primary">Primary</button> -->
<!-- <app-demodirectives></app-demodirectives> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-dirassign></app-dirassign> -->
<app-output (custData)="getdatachild($event)"></app-output>
<!-- <app-remove-assign></app-remove-assign> -->
<!-- <app-remove-add></app-remove-add> -->
<!-- {{myData.srNo}} -->
<div class="container">
  <table class="content-table">
    <thead>
      <tr>
        <th>sr no</th>
        <th>Employe Name</th>
        <th>Company Name</th>
        <th>Department</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data ">
        <td>{{d.srNo}}</td>
        <td>{{d.EmployeName}}</td>
        <td>{{d.companyName}}</td>
        <td>{{d.department}}</td>
        <td>{{d.salary}}</td>
      </tr>

    </tbody>
  </table>
</div>


