<!-- <p>attri works!</p> -->
<div [ngStyle]="{'color':colorval,'background-color':'#add'}">
    learning Angular 8
</div>
<h4>Ng Class</h4>

<ul *ngFor="let person of people">
    <li [ngClass]="{
        'text-success': person.country === 'UK',
        'text-primary': person.country === 'USA',
        'text-danger': person.country === 'HK'
    }">
 
     {{person.name}} ({{person.country}})
    </li>
</ul>

<!-- <div>
    <input type="text" name="" id="" #uusername (keyup.enter)="show(uusername.value)">
</div> -->
<div>
    <!-- when template variable used then no need to add $event in show method -->
    <input type="text" name="" id="" #username> 
</div>
<button (click)="show(username.value)">sho</button>
<div>
    {{uname}}
</div>
